{% extends 'basefr.html' %}
{% load static %}



<!DOCTYPE html>

<html>
	
	<body>
	
		{% block title %}
			Contact
		{% endblock %}	
		{% block content %}	
			<!-- header -->
			<header class="header ">
				<div class="container">
					<div class="header__logo"><a href={% url 'indexfr' %}><img src="{%static 'assets/img/logo.png' %}" alt=""style="max-width:65px;"/></a></div>
					<div class="header__toogleGroup">
						<div class="header__chooseLanguage">
										
							<!-- dropdown -->
							<div class="dropdown" data-init="dropdown"><a class="dropdown__toggle" href="javascript:void(0)">FR <i class="fa fa-angle-down" aria-hidden="true"></i></a>
								<div class="dropdown__content" data-position="right">
									<ul class="list-style-none">
										<li><a href={% url 'contactfr' %}>FR</a></li>
										<li><a href={% url 'contactesp' %}>ESP</a></li>
									</ul>
								</div>
							</div><!-- End / dropdown -->
							
						</div>
					</div>
					
					<!-- consult-nav -->
					<nav class="consult-nav">
						
						<!-- consult-menu -->
						<ul class="consult-menu">
							<li ><a href={% url 'indexfr' %}>Accueil</a>
							</li>
							<li ><a href={% url 'emploifr' %}>Nous employons</a>
							</li>
                            <li class="current-menu-item"><a href={% url 'contactfr' %}>Contact</a>
							</li>
						</ul><!-- consult-menu -->
						
						<div class="navbar-toggle"><span></span><span></span><span></span></div>
					</nav><!-- End / consult-nav -->
					
				</div>
			</header><!-- End / header -->
			
			<!-- Content-->
			
			<!-- Section -->
            <!-- Content-->
			<div class="md-content">
				
				<!-- Section -->
				<section class="md-section js-consult-form" style="background-color:#f7f7f7;">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 offset-0 offset-sm-0 offset-md-0 offset-lg-3 ">
								
								<!-- title-01 -->
								<div class="title-01">
									<h2 class="title-01__title">Contact Details</h2>
									<div>Contactez-nous pour discuter de vos besoins, poser des questions ou explorer nos solutions. Nous sommes là pour vous fournir des informations détaillées et des conseils personnalisés. Écrivez-nous, et nous serons ravis de collaborer avec vous pour atteindre vos objectifs.</div>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-04">
									<div class="iconbox__icon"><i class="ti-email"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Email</a></h2>
										<div class="iconbox__description">Placementmargaritainc@gmail.com</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-lg-4 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-04">
									<div class="iconbox__icon"><i class="ti-mobile"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">hotline</a></h2>
										<b><div class="iconbox__description">Jose Ruiz</div></b>
										<div class="iconbox__description">514-794-9831</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-lg-4 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-04">
									<div class="iconbox__icon"><i class="ti-mobile"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">hotline</a></h2>
										<b><div class="iconbox__description">Linda Rodriguez</div></b>
										<div class="iconbox__description">438-498-5818</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
						</div>
						<br><br>
						<!-- form-01 -->
						<div class="form-01 consult-form js-consult-form__content"  >
							<h2 class="form-01__title">Ecrivez-nous</h2>
							<form class="form-01__form" method="POST" action="{% url 'contactfr' %}"> 
								{% csrf_token %}
								{{form.name}}
								{{form.email}}
								{{form.message}}
								<button type="submit" class="btn btn-primary btn-outline btn-w180">Envoyer</button>
							</form>
						</div><!-- End / form-01 -->
						
					</div>
				</section>
				<!-- End / Section -->
				
				
				<!-- Section -->
				<section class="md-section">
				</section>
				<!-- End / Section -->
				
			</div>
			<!-- End / Content-->
			
            <!-- End / Section -->
			<!-- End / Content-->
		{% endblock %}
	</body>
	

</html>

